:host {
    width: 100%;
    height: 100%;
}

:host-context(.border-left) {
    border-left: 4px solid black;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.animate {
    animation: flip 0.2s ease-in 0ms 1;
}

@keyframes flip {
    from { transform: rotateY(90deg); }
    to { transform: rotateY(0deg); }
}